<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostModalLabel">New post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-1">
                        <label for="newPostMessageText" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="newPostMessageText"></textarea>
                    </div>
                    <div id="newPostMessageTextValidationLabel" class="mb-2 text-danger"></div>
                </form>
                <div id="newPostFormValidationLabel" class="mb-2 text-danger"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="newPostCreate" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>